body, html {
  height: 100%;
  margin: 0%;
  padding: 0%;
  background-color: #ccc;
  background-image: url("f.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100;

}

header h1 {
  text-align: center;
  font-size: 50px;
  color: gold;
}

header {
  padding: 20px;
  background-color: crimson;
  border-bottom: 0ch;
}
header img{
  height: 100px;
  width: 100px;
  border-bottom: 0ch;
}

nav {
  background-color: #333;
  overflow: hidden;
  border-bottom: 0ch;
}

nav a {
  text-decoration: none;
  text-align: center;
  padding: 0%;
  float: left;
  color: red;
  border-bottom: 0ch;
}

main {
  background-color: #ccc;
  background-image: url("f.png");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 100;
  text-align: center;
  min-height: 100vh;
}

h2 {
  padding: 20px;
  border-bottom: 0ch;
}

footer {
  background-color: #333;
  overflow: hidden;
  border-bottom: 0ch;
}

footer a {
  text-decoration: none;
  padding: 0px;
  text-align: center;

  float: left;
  color: white;
  border-bottom: 0ch;
}
.navbar {
  padding: 10px;
  overflow: hidden;
  background-color: #333;
  font-family: Arial;
  border-bottom: 0ch;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: blue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: 0ch;
}

.dropdown {
  float: left;
  overflow: hidden;
  border-bottom: 0ch;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: blue;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; 
  margin: 0; 
  border-bottom: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: purple;
  border-bottom: 0ch;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #9e7878;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-bottom: 0ch;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  font-family: 'Merriweather', serif;
  border-bottom: 0ch;
}

.dropdown-content a:hover {
  background-color:red;
  border-bottom: 0ch;
}

.dropdown:hover .dropdown-content {
  display: block;
  border-bottom: 0ch;
}